[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Mastodon.py" = "*"
retry = "*"
orjson = "*"
python-dotenv = "*"
pillow = "*"
tqdm = "*"
markdownify = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
